body{
	background: #CCC;
	background	:url("../img/noisy_grid.png") 0% 0% repeat;
}
.container-up{
	margin:0 auto;
}
.container:before,
.container:after{
	content: "";
    display: table;
}
.container:after{
	clear:both;
}
header{
	height:40px;
	background-color:black;
}
#search{
	margin-right: 200px;	
}
.content2{
	padding: 40px 0;
}
#main-content{
	background	:#CCC;
}
#pmain-content{
	background	:#CCC;
	height:700px;
}
#not{
	color:#FFF;
}
#calendar{
	margin-left:10px;
}
#upper-content,#mid-content{
	margin-left:10px;
}
#groupname a,#projecttitle a{
	font-variant:small-caps;
	text-decoration:none;
}
.stat1,.stat2,.stat3{
	width:100px;
	border-radius:5px;
	border:1px solid white;
	color:white;
	font-size:16px;
	padding:10px;
}
.stat1{
	background:linear-gradient(to bottom,#0F3,#0F0);
	border	: 1px solid #0F3;
}
.stat2{
	background:linear-gradient(to bottom,#FF6,#FF0);
	border	: 1px solid #FF6;
}
.stat3{
	background:linear-gradient(to bottom,#999,#666);
	border	: 1px solid #999;
}
#viewer,#comment-box{
	height:500px;
	border:1px solid grey;
	border-radius:5px;
	margin-top:10px
}
#upload{
	height:34px;
	border:1px solid grey;
	border-radius:5px;
	margin-top:10px
}
#comment-box{
	margin-left:10px;
	overflow-y:scroll;
}

footer .navbar{
	margin:0;
}
#main-footer{
	background: linear-gradient(to top left, rgba(40,38,43,0.0), rgba(70,70,70,1));
	color: #fff;
	text-align : center;
}
input {
	display		: inline-block;
	vertical-align	: center;
	}

label {
	display	: inline-block;
	width	: 50px;
	padding	: 10px;
	}

input[type=number],
input[type=text],
input[type=date],
input[type=email],
input[type=password]{
	border	: 1px solid #CCC;
	border-radius : 5px;
	padding	: 5px;
	width	: 160px;
}
#reqsub {
    background	: linear-gradient(to bottom, #0088CC, #0044CC);
    border	: 1px solid #0088CC;
    border-radius : 5px;
    color	: #FFF;
	height:50px;
    width	: 100px;
	margin-top:-28px;
	font-size:16px;
	margin-left:10px;
}
#browse, #upload-file{
	background	: linear-gradient(to bottom, #030, #000);
    border	: 1px solid #030;
    border-radius : 5px;
    color	: #FFF;
	height:30px;
    width	: 100px;
	margin:0 auto;
	float:right;
	text-align:center;
}
#browse:hover{
	cursor:pointer;
}
#upload-file{
	float:none;
	margin:10px;
	height:35px;
}
#notification{
	width: 280px;
	height: 460px;
	border: 1px solid #000;
	border-radius : 2px;
	background: linear-gradient(to top,#666);
}
#acc,
#dec,
#wait{
	margin: 2px 2px;
	width:264px;
	padding: 2px 5px;
	border : 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
#acc{
	background:#090;
}
#dec{
	background:#C00;
	color: #FFF;
}
#wait{
	background:#FF3;
}
#profilpic{
	margin	: 20px auto;
	padding	: 10px 10px;
	text-align	:center;
	}
#bio {
	margin	:20px auto;
	padding	:5px 10px;
	}
#bio > h2{
	text-align	: center;
	}
.biodata {
	display	:inline-block;
	float	: left;
	margin	: 0 auto;
	}
.biodata > label {
	width	:170px;
	}
.biodata2 > label {
	width	:170px;
	}
	
.biodata2{
	display	:inline-block;
	float	: left;
	margin	: 0 auto;
	}
#struktur h2{
	padding-left:20px;
	color:#00F;
}
#strheader li{
	list-style-type:none;
	display:inline-block;
	padding-right:20px;
}
#strheader, #strcontent{
	border-bottom:1px solid white;
}
#strcontent li{
	list-style-type:none;
}
#strfooter a{
	margin:10px;
	float:right;
}
#updiv{
	margin:10px 10px 10px 0px;
	background:#fff;
	border:1px solid #fff;
	border-radius:5px;
}
#updiv input{
	margin:5px;
}
#updiv p{
	padding-left:10px;
	padding-top:10px;
	color:#00F;
}